.ProductsShower {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 7rem;
}

.swiper-button-next,
.swiper-button-prev {
    color: #f9d615 !important;
}

@media screen and (min-width: 992px) {
    .logoHeader {
        display: none;
    }
}
